In [13]:
import json
import numpy as np
import os
import pandas as pd

In [2]:
conservative_file = 'input/conservative/locodata_ultra.json'
optimistic_file = 'input/optimistic/locodata_ultra.json'

In [31]:
with open(conservative_file) as f:
    data_c = json.load(f)
    
with open(optimistic_file) as f:
    data_o = json.load(f)

In [46]:
data_d_loc = data_c['plants']['Ultra Plant']['locations']

In [56]:
locs = []
for location in data_d_loc:
    locs.append(location)

In [57]:
for locations in locs:
    for material in data_d_loc['disposal']:

['Clayton, Georgia',
 'Union, New Mexico',
 'Catron, New Mexico',
 'Cibola, New Mexico',
 'Baltimore, Maryland',
 'Sussex, Delaware',
 'Smith, Texas',
 'Tarrant, Texas',
 'King, Washington',
 'Los Angeles, California',
 'Morgan, Indiana',
 'El Paso, Colorado',
 'Clark, Nevada',
 'Orangeburg, South Carolina',
 'Franklin, Ohio',
 'Clinton, Ohio',
 'Portage, Ohio',
 'Spartanburg, South Carolina',
 'Rapides, Louisiana',
 'Norfolk, Virginia',
 'Providence, Rhode Island',
 'San Mateo, California',
 'Flathead, Montana',
 'Albany, New York',
 'Tehama, California',
 'Midland, Michigan',
 'Oakland, Michigan',
 'Bernalillo, New Mexico',
 'Hillsborough, Florida',
 'Franklin, Washington',
 'Waupaca, Wisconsin',
 'Sonoma, California',
 'Hardin, Iowa',
 'Nevada, California',
 'Porter, Indiana',
 'Westchester, New York',
 'Smith, Mississippi',
 'Imperial, California',
 'Chaves, New Mexico',
 'Sebastian, Arkansas',
 'Pottawattamie, Iowa',
 'Christian, Kentucky',
 'Saline, Arkansas',
 'Spokane, Washington',
 'Otsego, Michigan',
 'Beaver, Pennsylvania',
 'Montgomery, Pennsylvania',
 'San Miguel, New Mexico',
 'Luna, New Mexico',
 'Mason, Washington',
 'Leavenworth, Kansas',
 'Cleveland, Oklahoma',
 'Adams, Colorado',
 'Franklin, Missouri',
 'Hamilton, Ohio',
 'Hidalgo, New Mexico',
 'Onslow, North Carolina',
 'Blair, Pennsylvania',
 'Siskiyou, California',
 'Lawrence, Arkansas',
 'Belknap, New Hampshire',
 'Anoka, Minnesota',
 'Lincoln, Wyoming',
 'Wake, North Carolina',
 'York, South Carolina',
 'Winnebago, Illinois',
 'Nemaha, Nebraska',
 'Madison, Montana',
 'Harris, Texas',
 'Sullivan, Tennessee',
 'Torrance, New Mexico',
 'Sarasota, Florida',
 'Multnomah, Oregon',
 'Morgan, Illinois',
 'Medina, Texas',
 'Grant, Indiana',
 'San Juan, New Mexico',
 'Lincoln, New Mexico',
 'Clark, Arkansas',
 'DeKalb, Alabama',
 'Liberty, Montana',
 'Wyandot, Ohio',
 'Anderson, South Carolina',
 'Marshall, Oklahoma',
 'Middlesex, Massachusetts',
 'Maricopa, Arizona',
 'Mason, Michigan',
 'Guadalupe, New Mexico',
 'Monroe, New York',
 'Clay, Minnesota',
 'Rock, Nebraska',
 'Cook, Illinois',
 'Crook, Wyoming',
 'Big Horn, Montana',
 'Eastland, Texas',
 'Champaign, Illinois']

In [58]:
# Given nested dictionary
list = [
   {
      "Fruit": [{"Price": 15.2, "Quality": "A"},
         {"Price": 19, "Quality": "B"},
         {"Price": 17.8, "Quality": "C"},
      ],
      "Name": "Orange"
   },
   {
      "Fruit": [{"Price": 23.2, "Quality": "A"},
         {"Price": 28, "Quality": "B"}
      ],
      "Name": "Grapes"
   }
]

rows = []

# Getting rows

In [59]:
for data in list:
    data_row = data['Fruit']
    print(data_row)
    n = data['Name']
    print(n)
    for row in data_row:
        row['Name'] = n
        print(row['Name'])
        rows.append(row)
        print(rows)

[{'Price': 15.2, 'Quality': 'A'}, {'Price': 19, 'Quality': 'B'}, {'Price': 17.8, 'Quality': 'C'}]
Orange
Orange
[{'Price': 15.2, 'Quality': 'A', 'Name': 'Orange'}]
Orange
[{'Price': 15.2, 'Quality': 'A', 'Name': 'Orange'}, {'Price': 19, 'Quality': 'B', 'Name': 'Orange'}]
Orange
[{'Price': 15.2, 'Quality': 'A', 'Name': 'Orange'}, {'Price': 19, 'Quality': 'B', 'Name': 'Orange'}, {'Price': 17.8, 'Quality': 'C', 'Name': 'Orange'}]
[{'Price': 23.2, 'Quality': 'A'}, {'Price': 28, 'Quality': 'B'}]
Grapes
Grapes
[{'Price': 15.2, 'Quality': 'A', 'Name': 'Orange'}, {'Price': 19, 'Quality': 'B', 'Name': 'Orange'}, {'Price': 17.8, 'Quality': 'C', 'Name': 'Orange'}, {'Price': 23.2, 'Quality': 'A', 'Name': 'Grapes'}]
Grapes
[{'Price': 15.2, 'Quality': 'A', 'Name': 'Orange'}, {'Price': 19, 'Quality': 'B', 'Name': 'Orange'}, {'Price': 17.8, 'Quality': 'C', 'Name': 'Orange'}, {'Price': 23.2, 'Quality': 'A', 'Name': 'Grapes'}, {'Price': 28, 'Quality': 'B', 'Name': 'Grapes'}]

In [60]:
df = pd.DataFrame(rows)

df = df.pivot_table(index='Name', columns=['Quality'],
               values=['Price']).reset_index()
print(df)

           Name Price
Quality             A     B     C
0        Grapes  23.2  28.0   NaN
1        Orange  15.2  19.0  17.8